@model ProductDetailViewModel
@{
    ViewBag.Title = AtesShop.Resources.Resources.Details;

    List<int> idList = new List<int>();
    var CompareProductsCookie = Request.Cookies["CompareProducts"];
    if (CompareProductsCookie != null && CompareProductsCookie.Value != "")
    {
        idList = CompareProductsCookie.Value.Split('-').Select(x => int.Parse(x)).ToList();
        idList.RemoveAt(0);
    }

    bool isSpecFilesEmpty = Model.SpecFiles == null ? true : false;

}

<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">@AtesShop.Resources.Resources.HomeT1O1</a></li>
                <li><a href="@Url.Action( "Index", "Products")">@AtesShop.Resources.Resources.ProductsT1O2</a></li>
                <li class="active"><a href="@Url.Action("Detail", "Products")">@Model.Name</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="main-product-thumbnail pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="tab-content">
                    @{
                        var i = 1;
                        foreach (var image in Model.ProductImages)
                        {
                            <div id="thumb@(i)" class="tab-pane @if (i==1) { <text>active</text>} ">
                                <a data-fancybox="images" href="@Url.Action( "Image", "Generic", new { id = image.Id })">
                                <img src="@Url.Action( "Image", "Generic", new { id = image.Id })" alt="product-view"></a>
                            </div>
                            i++;
                        }
                    }
                </div>
                <div class="product-thumbnail">
                    <div class="thumb-menu nav">
                        @{
                            var j = 1;
                            foreach (var image in Model.ProductImages)
                            {
                                <a data-toggle="tab" href="#thumb@(j)" @if (j == 1) { <text> class="active" </text>  }>
                                    <img src="@Url.Action( "Image", "Generic", new { id = image.Id })" alt="product-thumbnail" />
                                </a>
                                j++;
                                if (j == 5) { break; }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="thubnail-desc fix">
                    <h3 class="product-header">@Model.Name</h3>
                    <p class="ptb-10">@Model.Description</p>
                    <div class="rating-summary fix mb-10">
                        <div class="rating f-left">
                            @for (int k = 0; k < 5; k++)
                            {
                                if (k < Model.Rate)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                else
                                {
                                    <i class="fa fa-star-o"></i>
                                }
                            }
                        </div>
                    </div>
                    
                        @if (Request.IsAuthenticated)
                        {
                            <div class="pro-price mb-10">
                                @if (Model.IsDiscount)
                                {
                                <p><span class="price">@Model.Price</span><del class="prev-price">@Model.PrePrice</del></p>
                                }
                                else
                                {
                                <p><span class="price">@Model.Price</span></p>
                                }
                            </div>

                            <div class="product-link" style="border-top: 0px; margin-top: 10px; padding-top: 10px;">
                                <ul class="list-inline">
                                    <li><a class="add-wishlist @if (Model.IsWished) {<text>active</text> }" href="#" data-id="@Model.Id"><i class="fa fa-heart"></i></a></li>
                                    <li><a class="add-compare @if (idList.Contains(Model.Id)){ <text>active</text> }" href="#" data-id="@Model.Id" data-cat-id="@Model.CategoryId" data-toggle="tooltip" title="Add to Compare">@AtesShop.Resources.Resources.AddToCompare</a></li>
                                    <li><a href="@Url.Action("Contact", "Home")"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            </div>

                        }
                        else
                        {
                            <div class="product-link" style="border-top: 0px; margin-top: 10px; padding-top: 10px;">
                                <ul class="list-inline">
                                    <li><a href="@Url.Action("Login", "Account")" data-toggle="tooltip">@AtesShop.Resources.Resources.CheckPrice</a></li>
                                    <li><a class="add-compare @if (idList.Contains(Model.Id)){ <text>active</text> }" href="#" data-id="@Model.Id" data-cat-id="@Model.CategoryId" data-toggle="tooltip" title="Add to Compare">@AtesShop.Resources.Resources.AddToCompare</a></li>
                                    <li><a href="@Url.Action("Contact", "Home")"><i class="fa fa-envelope"></i></a></li>
                                </ul>
                            </div>
                            
                        }
                        <div class="feature-section">
                            <ul>
                                @foreach (var feature in Model.ProductFeatures)
                                {
                                    <li>@feature.FeatureValue</li>
                                }
                            </ul>
                            
                        </div>
                         
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thumnail-desc pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="main-thumb-desc nav">
                    <li><a class="active" data-toggle="tab" href="#dtail">@AtesShop.Resources.Resources.Specifications</a></li>
                    @if (!isSpecFilesEmpty)
                    {
                        <li><a data-toggle="tab" href="#documents">@AtesShop.Resources.Resources.Documents</a></li>
                    }
                </ul>
                <div class="tab-content thumb-content border-default">
                    <div id="dtail" class="tab-pane in active">
                        <table style="font-size:14px; width:100%;border-spacing:0px;table-layout:fixed;word-wrap:break-word;">
                            <tbody>
                                @foreach (var sect in Model.Attributes)
                                {
                                    <tr>
                                        <td colspan="60" style="border:1px solid #FFFFFF;padding:1px 0px 1px 5px;vertical-align:middle;background-color:#C3C5C5;font-weight:bold;">@sect.Key.Name</td>
                                    </tr>
                                    
                                    foreach (var val in sect.Value)
                                    {
                                        <tr>
                                            <td colspan="18" style="border:1px solid #FFFFFF;padding:1px 0px 1px 5px;vertical-align:middle;background-color:#F2F2F2;">@val.AttributeType.Name</td>
                                            <td colspan="42" style="border:1px solid #FFFFFF;padding:1px 0px 1px 5px;vertical-align:middle;background-color:#F2F2F2;">@val.AttributeValue.Name</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    @if (!isSpecFilesEmpty)
                    {
                        <div id="documents" class="tab-pane">
                            <div class="list-group list-group-flush">
                                @foreach (var doc in Model.SpecFiles)
                                {
                                    <a href="@Url.Action("Pdf", "Generic", new { id = doc.Id})" class="list-group-item list-group-item-action">@doc.Name</a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.RelatedProducts.Count > 0)
{
    <div class="related-product pb-30">
        <div class="container">
            <div class="related-box">
                <div class="group-title">
                    <h2>@AtesShop.Resources.Resources.RelatedProducts</h2>
                </div>
                <div class="new-upsell-pro owl-carousel">
                    @foreach (var product in Model.RelatedProducts)
                {
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="@Url.Action("Detail", "Products", new { id = product.Id })">
                                    @{
                                        int flag = 1;
                                    }
                                    @foreach (var image in product.Images)
                                    {
                                        <img class="@(flag==1 ? "primary-img":"secondary-img")" src="@Url.Action( "Image", "Generic", new { id = image.Id })" alt="single-product">
                                        flag++;
                                    }
                                </a>
                            </div>
                            <div class="pro-content">
                                <div class="product-rating">
                                    @for (int k = 0; k < 5; k++)
                                    {
                                        if (k < Model.Rate)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-star-o"></i>
                                        }
                                    }
                                </div>
                                <h4><a href="@Url.Action("Detail", "Products", new { id = product.Id })">@product.Name</a></h4>
                                <div class="pro-description">
                                    <a href="@Url.Action("Detail", "Products", new { id = product.Id })"><p>@product.Description</p></a>
                                </div>
                                @if (Request.IsAuthenticated)
                                {
                                    if (product.isDiscount)
                                    {
                                        <p><span class="price">@product.Price</span><del class="prev-price">@product.PrePrice</del></p>
                                    }
                                    else
                                    {
                                        <p><span class="price">@product.Price</span></p>
                                    }
                                }

                                <div class="pro-actions">
                                    <div class="actions-secondary">
                                        @if (!Request.IsAuthenticated)
                                        {
                                            <a class="add-cart" href="@Url.Action("Login", "Account")" data-toggle="tooltip">@AtesShop.Resources.Resources.CheckPrice</a>
                                        }
                                        else
                                        {
                                            <a class="add-wishlist @if (product.isWished) {<text>active</text> }" href="#" data-id="@product.Id" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                        }
                                        <a class="add-compare @if (idList.Contains(product.Id)){ <text>active</text> }" href="#" data-id="@product.Id" data-cat-id="@product.CategoryId" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                                        }
                </div>
            </div>
        </div>
    </div>
}



<script>


    $('.add-wishlist').click(function (event) {
        event.preventDefault();
        var wishBtn = $(this);
        var productId = wishBtn.attr('data-id');

        if (wishBtn.hasClass("active")) {
            $.ajax({
                url: '@Url.Action("RemoveFromWishlist", "Generic")',
                data: {
                    productId: productId
                }
            })
            .done(function (response) {
                wishBtn.removeClass('selected');
                wishBtn.removeClass('active');
                wishBtn.addClass('deselected');
                heartAnimation();

            })
            .fail(function (XMLHttpRequest, testStatus, errorThrown) {
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("AddToWishlist", "Generic")',
                data: {
                    productId: productId
                }
            })
            .done(function (response) {
                wishBtn.removeClass('deselected');
                wishBtn.addClass('selected');
                wishBtn.addClass('active');
                heartAnimation();

            })
            .fail(function (XMLHttpRequest, testStatus, errorThrown) {
            });
        }
    });

    $('.add-compare').click(function (event) {

        event.preventDefault();

        var compareBtn = $(this);
        var productId = compareBtn.attr('data-id');
        var categoryId = compareBtn.attr('data-cat-id');

        var currentCompareCookie = $.cookie('CompareProducts');

        if (currentCompareCookie != undefined && currentCompareCookie != "" && currentCompareCookie != null)
        {
            products = currentCompareCookie.split('-');
        }
        else
        {
            products = [];
        }

        if (compareBtn.hasClass("active")) {
            var proList = products.slice(1);
            if (products.length > 0 && jQuery.inArray(productId, proList) > -1) {
                var index = proList.indexOf(productId);
                products.splice(index + 1, 1);

                $.cookie('CompareProducts', products.join('-'), { path: '/' });
                compareBtn.removeClass('selected');
                compareBtn.removeClass('active');
                compareBtn.addClass('deselected');
            }
        }
        else {

            if (products.length >= 4) {

                swal({
                    title: "@AtesShop.Resources.Resources.ComparisonLimit",
                    text: "@AtesShop.Resources.Resources.WantToCompare",
                    icon: "warning",
                    buttons: {
                        confirm: {text: "@AtesShop.Resources.Resources.Compare", className: 'sweet-warning button'},
                        cancel: "@AtesShop.Resources.Resources.Cancel"
                    }
                })
                .then((value) => {
                    if (value) {
                        var url = "@Url.Action("Compare", "Generic")";
                        window.location.href = url;
                    }
                });
            }

            else if (products.length > 0 && products[0] != categoryId) {
                swal({
                    text: "@AtesShop.Resources.Resources.ChooseSameCategory",
                    icon: "warning",
                    buttons: {
                        confirm: {text: '@AtesShop.Resources.Resources.Ok', className: 'sweet-warning button'}
                    }
                });
            }
            else {
                if (products.length == 0) {
                    products.push(categoryId);
                }
                products.push(productId);
                $.cookie('CompareProducts', products.join('-'), { path: '/' });
                compareBtn.addClass('selected');
                compareBtn.addClass('active');
                compareBtn.removeClass('deselected');
            }
        }
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}