@model AtesShop.Web.Models.AddressViewModel

@{ 
    var count = Model.AddressList.Count;
}

<h3>@AtesShop.Resources.Resources.Addresses</h3>

<div class="row">
    <div class="col-md-12 mb-40">
        <a id="addAddress" class="address-view-button disabled" href="#">@AtesShop.Resources.Resources.Add</a>
        <a id="editAddress" class="address-view-button disabled" href="#">@AtesShop.Resources.Resources.Edit</a>
        <a id="deleteAddress" class="address-view-button-delete disabled" href="#">@AtesShop.Resources.Resources.Delete</a>
    </div>
    
    @if (Model.AddressList.Count > 0)
    {
        foreach (var address in Model.AddressList)
        {
            <label class="address-group col-md-6 mb-30">
                <input type="radio" name="addressRadio" value="@address.Id" />
                <div href="#" class="address-content p-10">
                    <p>@address.FirstName @address.LastName</p>
                    <p>@address.Line1 @address.Line2</p>
                    <p>@address.City, @address.State @address.ZipCode</p>
                    <p>@address.Country</p>
                    <p>@address.Phone</p>
                </div>
            </label>
        }
    }
    else
    {
        <div class="col-md-12 mb-40">@AtesShop.Resources.Resources.NoAddress</div>
    }
    
</div>



<script>
    $(document).ready(function () {
        if (@count < 5) {
            try {
                $('#addAddress').removeClass('disabled');
            } catch (e) { }
        }
    })


    $('input[name="addressRadio"]').change(function () {
        try {
            $('#editAddress').removeClass('disabled');
            $('#deleteAddress').removeClass('disabled');
        } catch (e) { }

    })

    $("#addAddress").click(function (event) {
        event.preventDefault();
        $.ajax({
            url: '/Manage/AddAddress',
            beforeSend: function () {
                ajaxLoading('address');
            }
        })
        .done(function (response) {
            $("#address").html(response);
        })
        .fail(function (XMLHttpRequest, testStatus, errorThrown) {
        });
    });

    $("#editAddress").click(function (event) {
        event.preventDefault();

        var selected = $('input[name=addressRadio]:checked').val();
        if (selected != undefined) {
            $.ajax({
                url: '/Manage/EditAddress',
                data: {
                    addressId: selected
                },
                beforeSend: function () {
                    ajaxLoading('address');
                }
            })
            .done(function (response) {
                $("#address").html(response);
            })
            .fail(function (XMLHttpRequest, testStatus, errorThrown) {
            });
        }
    });

    $("#deleteAddress").click(function (event) {
        event.preventDefault();

        var selected = $('input[name=addressRadio]:checked').val();

        if (selected != undefined) {
            swal({
                title: "@AtesShop.Resources.Resources.Delete",
                text: "@AtesShop.Resources.Resources.DeleteAddressQ",
                icon: "warning",
                buttons: {
                    confirm: {text: "@AtesShop.Resources.Resources.Ok", className: 'sweet-warning button'},
                    cancel: "@AtesShop.Resources.Resources.Cancel"
                },
                dangerMode: true
            })
            .then((value) => {
                if (value) {
                    $.ajax({
                        type: 'POST',
                        url: '/Manage/DeleteAddress',
                        data: {
                            addressId: selected
                        },
                        beforeSend: function () {
                            ajaxLoading('address');
                        }
                    })
                    .done(function (response) {
                        $("#address").html(response);
                    })
                    .fail(function (XMLHttpRequest, testStatus, errorThrown) {
                    });
                }
            });
        }
    });

</script>