@model AtesShop.Web.Models.OrdersViewModel

<h3>@AtesShop.Resources.Resources.Orders</h3>
@if (Model.Orders.Count == 0)
{
    <div>@AtesShop.Resources.Resources.NoOrders</div>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>@AtesShop.Resources.Resources.Order</th>
                    <th>@AtesShop.Resources.Resources.Date</th>
                    <th>@AtesShop.Resources.Resources.Status</th>
                    <th>@AtesShop.Resources.Resources.Total</th>
                    <th>@AtesShop.Resources.Resources.Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Orders.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.Orders[i].Date.ToString("MMM dd, yyyy")</td>
                        <td>@Model.Orders[i].Status</td>
                        <td>@Model.Orders[i].TotalPrice</td>
                        <td><a class="view" href="#">@AtesShop.Resources.Resources.View</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}