@model CartViewModel
@if (Model != null)
{
    if (Model.CartProducts != null && Model.CartProducts.Count > 0)
    {
        <div id="cartTable">
            <div class="table-content table-responsive mb-50">
                <table>
                    <thead>
                        <tr>
                            <th class="product-thumbnail">@AtesShop.Resources.Resources.Image</th>
                            <th class="product-name">@AtesShop.Resources.Resources.Product</th>
                            <th class="product-price">@AtesShop.Resources.Resources.Price</th>
                            <th class="product-quantity">@AtesShop.Resources.Resources.Quantity</th>
                            <th class="product-subtotal">@AtesShop.Resources.Resources.Total</th>
                            <th class="product-remove">@AtesShop.Resources.Resources.Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.CartProducts)
                        {

                            var productQuantity = Model.CartProductIdList.Where(productId => productId == product.Id).Count();
                            if (productQuantity > product.Stock.Available)
                            {
                                productQuantity = product.Stock.Available;
                            }

                            <tr>
                                @if (!product.isSet)
                                {
                                    <td class="product-thumbnail">
                                        <a href="@Url.Action("Detail", "Products", new { id = product.Id })"><img src="@Url.Action("Image", "Generic", new { id = product.Images.FirstOrDefault().Id })" alt="cart-image" /></a>
                                    </td>
                                    <td class="product-name"><a href="@Url.Action("Detail", "Products", new { id = product.Id })">@product.Name <br /> @product.Description</a></td>
                                }
                                else
                                {
                                    <td class="product-thumbnail">
                                        <a href="@Url.Action("Index", "Offer")"><img src="@Url.Action("Image", "Generic", new { id = product.Images.FirstOrDefault().Id })" alt="cart-image" /></a>
                                    </td>
                                    <td class="product-name"><a href="@Url.Action("Index", "Offer")">@product.Name <br /> @product.Description </a></td>
                                }
                                <td class="product-price"><span class="price">@product.Price</span></td>
                                <td class="product-quantity"><input type="number" class="productQuantity" min="1" max="@product.Stock.Available" required oninput="validity.valid||(value='');" data-id="@product.Id" value="@productQuantity" /></td>
                                <td class="product-subtotal">@Model.CartProductsSubTotal[product.Id]</td>
                                <td class="product-remove"> <a class="productRemove" href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input id="cartTotalPrice" type="hidden" value="@Model.CartTotalPrice" />
                <input id="cartTotalPriceWithTax" type="hidden" value="@Model.CartTotalPriceWithTax" />
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="buttons-cart">
                    <a id="updateCartBtn" class="off-white-bg" href="" onclick="updateCart(); return false;">@AtesShop.Resources.Resources.UpdateCart</a>
                    <a href="@Url.Action("Index", "Shop")">@AtesShop.Resources.Resources.ContinueShopping</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="cart_totals">
                    <h2>@AtesShop.Resources.Resources.CartTotals</h2>
                    <br />
                    <table>
                        <tbody>
                            <tr class="cart-subtotal">
                                <th>@AtesShop.Resources.Resources.Subtotal</th>
                                <td><span id="subTotalPrice" class="amount">@Model.CartTotalPrice</span></td>
                            </tr>
                            <tr class="cart-subtotal">
                                <th>@AtesShop.Resources.Resources.Tax (5%)</th>
                                <td><span id="subTotalPrice" class="amount">@Model.CartTaxPrice</span></td>
                            </tr>
                            <tr class="order-total">
                                <th>@AtesShop.Resources.Resources.Total</th>
                                <td>
                                    <strong><span id="totalPrice" class="amount">@Model.CartTotalPriceWithTax</span></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="wc-proceed-to-checkout">
                        <a href="@Url.Action("Checkout", "Shop")">@AtesShop.Resources.Resources.ProceedToCheckout</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-content pb-20"><p>@AtesShop.Resources.Resources.NoProductsInCart</p></div>
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="buttons-cart">
                    <a href="@Url.Action("Index", "Shop")">@AtesShop.Resources.Resources.ContinueShopping</a>
                </div>
            </div>
        </div>
    }
}

<script>

    $('.productQuantity').on('change', function (event) {
        event.preventDefault();
        if ($(this).val() != null && $(this).val() != "") {
            $(this).attr('value', $(this).val());
        }
        else {
            $(this).val('1');
            $(this).attr('value', '1');
        }

    });

    $('.productRemove').click(function () {
        event.preventDefault();
        ajaxLoading();
        $(this).parent().siblings('.product-quantity').children().attr('value', 0);
        updateCart();
    })

</script>


