@{ViewBag.Title = "Cart"; }

<div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-20">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">@AtesShop.Resources.Resources.HomeT1O1</a></li>
                <li><a href="@Url.Action("Index", "Shop")">@AtesShop.Resources.Resources.Shop</a></li>
                <li class="active"><a href="@Url.Action("Cart", "Shop")">@AtesShop.Resources.Resources.Cart</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="cart-main-area pb-80 pb-sm-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="cartContainer">
                    @{
                        Html.RenderAction("CartProducts");
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        updateCart();
    });

    var ajaxLoading = function () {
        $("#cartContainer").append("<div id='ajax-loading-overlay'><div class='ajax-loader'></div></div>");
    }
    
    var updateCookie = function () {
        var products = [];

        var productCount = $('.product-quantity').children().length;

        for (var i = 0; i < productCount; i++) {
            var productQuantity = $('.product-quantity').children().eq(i).attr('value');
            var productId = $('.product-quantity').children().eq(i).attr('data-id');
            for (var j = 0; j < productQuantity; j++) {
                products.push(productId);
            }
        }
        $.cookie('CartProducts', products.join('-'), { path: '/' });

        var cart = $('.cart-counter');
        cart.effect("shake", {
            times: 2,
            distance: 5
        }, 200);
        updateCartIcon();
    }

    var updateCart = function () {
        ajaxLoading();
        updateCookie();
        $.ajax({
            url: '@Url.Action("CartProducts", "Shop")'

        })
        .done(function (response) {
            $("#cartContainer").html(response);
            updateTotalPrice();
        })
        .fail(function (XMLHttpRequest, testStatus, errorThrown) {
        });
    }

    var updateTotalPrice = function () {
        var total = $('#cartTotalPrice').val();
        $('#subTotalPrice').html(total);
        $('#totalPrice').html(total);
    }

</script>

