@model CheckoutViewModel

@{ 
    ViewBag.Title = "Checkout";
    bool isAddressExist = Model.UserAddressList == null || Model.UserAddressList.Count ==  0 ? false : true;

}

@if (Model != null)
{
    <div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-20">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">@AtesShop.Resources.Resources.HomeT1O1</a></li>
                    <li><a href="@Url.Action("Index", "Shop")">@AtesShop.Resources.Resources.Shop</a></li>
                    <li><a href="@Url.Action("Cart", "Shop")">@AtesShop.Resources.Resources.Cart</a></li>
                    <li class="active"><a href="@Url.Action("Checkout", "Shop")">@AtesShop.Resources.Resources.Checkout</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    if (Model.CartProducts != null && Model.CartProducts.Count > 0)
    {
        
        <div class="coupon-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="coupon-accordion">
                            @if (!Request.IsAuthenticated)
                            {
                                <h3>@AtesShop.Resources.Resources.ReturningCustomerQ <span>&nbsp;</span><span id="showlogin"> @AtesShop.Resources.Resources.ClickHereToLogin</span></h3>
                                <div id="checkout-login" class="coupon-content">
                                    <div class="coupon-info">

                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = this.Request.RawUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                            <p class="form-row-first">
                                                <label>@AtesShop.Resources.Resources.UsernameOrEmail <span class="required">*</span></label>
                                                @Html.TextBoxFor(m => m.EmailOrUserName, new { @id = "email"})
                                                @Html.ValidationMessageFor(m => m.EmailOrUserName, "", new { @class = "text-danger" })
                                                <span class="glyphicon glyphicon-user form-control-feedback"></span>

                                            </p>

                                            <p class="form-row-last">
                                                <label>@AtesShop.Resources.Resources.Password <span class="required">*</span></label>
                                                @Html.PasswordFor(m => m.Password, new { @id = "pwd"})
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>

                                            </p>
                                            <p class="form-row">
                                                <input type="submit" value="@AtesShop.Resources.Resources.Login" />
                                                <label>
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @AtesShop.Resources.Resources.RememberMe
                                                </label>
                                            </p>
                                            
                                            <p class="lost-password">
                                                <a href="@Url.Action("ForgotPassword", "Account")">@AtesShop.Resources.Resources.LostYourPassword</a>
                                            </p>
                                        }
                                    </div>
                                </div>
                                
                            }
	                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-area pt-30  pb-60">
            <div class="container">

                @using (Html.BeginForm("Checkout", "Shop", new { ReturnUrl = this.Request.RawUrl }, FormMethod.Post, new { @class = "form-horizontal", @id = "checkoutForm" , role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="checkbox-form">

                                <h3>@AtesShop.Resources.Resources.BillingDetail</h3>
                                
                                    @if (!Request.IsAuthenticated)
                                    {
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="country-select mb-30">
                                                    <label>@AtesShop.Resources.Resources.Country <span class="required">*</span></label>
                                                    @Html.DropDownListFor(m => m.Bill.Country, new SelectList(Model.CountryList))
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="checkout-form-list">
                                                    <label>@AtesShop.Resources.Resources.FirstName <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Bill.FirstName, new { @id = "billFirstName" })
                                                    @Html.ValidationMessageFor(m => m.Bill.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.LastName <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Bill.LastName, new { @id = "billLastName" })
                                                    @Html.ValidationMessageFor(m => m.Bill.LastName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.CompanyName</label>
                                                    @Html.TextBoxFor(m => m.Bill.CompanyName, new { @id = "billCompanyName" })
                                                    @Html.ValidationMessageFor(m => m.Bill.CompanyName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list">
                                                    <label>@AtesShop.Resources.Resources.Address <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Bill.Address1, new { @id = "billAddressLine1" })
                                                    @Html.ValidationMessageFor(m => m.Bill.Address1, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mtb-30">
                                                    @Html.TextBoxFor(m => m.Bill.Address2, new { @id = "billAddressLine2" })
                                                    @Html.ValidationMessageFor(m => m.Bill.Address2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.TownCity <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Bill.City, new { @id = "billAddressCity" })
                                                    @Html.ValidationMessageFor(m => m.Bill.City, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.StateCounty <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Bill.State, new { @id = "billAddressState" })
                                                    @Html.ValidationMessageFor(m => m.Bill.State, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.PostcodeZip <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Bill.ZipCode, new { @id = "billAddressZipCode" })
                                                    @Html.ValidationMessageFor(m => m.Bill.ZipCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.EmailAddress <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Bill.Email, new { @id = "billEmail" })
                                                    @Html.ValidationMessageFor(m => m.Bill.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.MobilePhone  <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Bill.Phone, new { @class = "form-control", @id = "billAddressPhone" })
                                                    @Html.ValidationMessageFor(m => m.Bill.Phone, "", new { @class = "text-danger" })
                                                    <span id="phone-valid-msg-ba" class="phone-hide">✓ @AtesShop.Resources.Resources.Valid</span>
                                                    <span id="phone-error-msg-ba" class="phone-hide"></span>
                                                </div>
                                            </div>

                                            @*<div class="col-md-12">
                                                <div class="checkout-form-list create-acc mb-30">
                                                    
                                                    @Html.CheckBoxFor(m => m.Account.CreateAccount, new { @id = "cbox" })
                                                    <label>Create an account?</label>
                                                </div>

                                                <div id="cbox_info" class="checkout-form-list create-accounts mb-25">
                                                    <p class="mb-15">Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>

                                                    <label>Username <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Account.UserName, new { @class = "form-control", @id = "unameR" })
                                                    @Html.ValidationMessageFor(m => m.Account.UserName, "", new { @class = "text-danger" })
                                                    <div class="mb-25"></div>

                                                    <label>Email <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Account.Email, new { @class = "form-control", @id = "emailR" })
                                                    @Html.ValidationMessageFor(m => m.Account.Email, "", new { @class = "text-danger" })
                                                    <div class="mb-25"></div>

                                                    <label>Account password  <span class="required">*</span></label>
                                                    @Html.PasswordFor(m => m.Account.Password, new { @class = "form-control", @id = "pwdR" })
                                                    @Html.ValidationMessageFor(m => m.Account.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@
                                        </div>
                                    }
                                    else
                                    {
                                        if (isAddressExist)
                                        {
                                            <div class="row">
                                              @{ var i = 0; }
                                              @foreach (var address in Model.UserAddressList)
                                              {
                                                  <label class="address-group col-md-12 mb-10" >
                                                      @if (i == 0)
                                                      {
                                                        @Html.RadioButtonFor(m => m.SelectedAddress, address.Id, new { @checked = "checked" })
                                                      }
                                                      else
                                                      {
                                                        @Html.RadioButtonFor(m => m.SelectedAddress, address.Id)
                                                      }
                                                      
                                                      <div href="" class="address-content p-10">
                                                          <p>@address.FirstName @address.LastName</p>
                                                          <p>@address.Line1 @address.Line2</p>
                                                          <p>@address.City, @address.State @address.ZipCode</p>
                                                          <p>@address.Country</p>
                                                          <p>@address.Phone</p>
                                                      </div>
                                                  </label>
                                                  i++;
                                              }
                                              </div>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="country-select mb-30">
                                                        <label>@AtesShop.Resources.Resources.Country <span class="required">*</span></label>
                                                        @Html.DropDownListFor(m => m.Bill.Country, new SelectList(Model.CountryList), new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="checkout-form-list">
                                                        <label>@AtesShop.Resources.Resources.FirstName <span class="required">*</span></label>
                                                        @Html.TextBoxFor(m => m.Bill.FirstName, new { @id = "billFirstName" })
                                                        @Html.ValidationMessageFor(m => m.Bill.FirstName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkout-form-list mb-30">
                                                        <label>@AtesShop.Resources.Resources.LastName <span class="required">*</span></label>
                                                        @Html.TextBoxFor(m => m.Bill.LastName, new { @id = "billLastName" })
                                                        @Html.ValidationMessageFor(m => m.Bill.LastName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="checkout-form-list mb-30">
                                                        <label>@AtesShop.Resources.Resources.CompanyName</label>
                                                        @Html.TextBoxFor(m => m.Bill.CompanyName, new { @id = "billCompanyName" })
                                                        @Html.ValidationMessageFor(m => m.Bill.CompanyName, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="checkout-form-list">
                                                        <label>@AtesShop.Resources.Resources.Address <span class="required">*</span></label>
                                                        @Html.TextBoxFor(m => m.Bill.Address1, new { @id = "billAddressLine1" })
                                                        @Html.ValidationMessageFor(m => m.Bill.Address1, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="checkout-form-list mtb-30">
                                                        @Html.TextBoxFor(m => m.Bill.Address2, new { @id = "billAddressLine2" })
                                                        @Html.ValidationMessageFor(m => m.Bill.Address2, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="checkout-form-list mb-30">
                                                        <label>@AtesShop.Resources.Resources.TownCity <span class="required">*</span></label>
                                                        @Html.TextBoxFor(m => m.Bill.City, new { @id = "billAddressCity" })
                                                        @Html.ValidationMessageFor(m => m.Bill.City, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkout-form-list mb-30">
                                                        <label>@AtesShop.Resources.Resources.StateCounty <span class="required">*</span></label>
                                                        @Html.TextBoxFor(m => m.Bill.State, new { @id = "billAddressState" })
                                                        @Html.ValidationMessageFor(m => m.Bill.State, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkout-form-list mb-30">
                                                        <label>@AtesShop.Resources.Resources.PostcodeZip <span class="required">*</span></label>
                                                        @Html.TextBoxFor(m => m.Bill.ZipCode, new { @id = "billAddressZipCode" })
                                                        @Html.ValidationMessageFor(m => m.Bill.ZipCode, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="checkout-form-list mb-30">
                                                        <label>@AtesShop.Resources.Resources.EmailAddress <span class="required">*</span></label>
                                                        @Html.TextBoxFor(m => m.Bill.Email, new { @id = "billEmail" })
                                                        @Html.ValidationMessageFor(m => m.Bill.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="checkout-form-list mb-30">
                                                        <label>@AtesShop.Resources.Resources.MobilePhone  <span class="required">*</span></label>
                                                        @Html.TextBoxFor(m => m.Bill.Phone, new { @class = "form-control", @id = "billAddressPhone" })
                                                        @Html.ValidationMessageFor(m => m.Bill.Phone, "", new { @class = "text-danger" })
                                                        <span id="phone-valid-msg-ba" class="phone-hide">✓ @AtesShop.Resources.Resources.Valid</span>
                                                        <span id="phone-error-msg-ba" class="phone-hide"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="checkout-form-list create-acc mb-30">
                                                        @Html.CheckBoxFor(m => m.Bill.SaveAddress, new { @id = "sbox" })
                                                        <label>@AtesShop.Resources.Resources.SaveAddress</label>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                     }

                                <div class="different-address">
                                    <div class="ship-different-title">
                                        <h3>
                                            <label>@AtesShop.Resources.Resources.ShipDifferent</label>
                                            @Html.CheckBoxFor(m => m.Ship.isShipDifferent, new { @id = "ship-box" })
                                        </h3>
                                    </div>
                                    <div id="ship-box-info">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="country-select mb-30">
                                                    <label>@AtesShop.Resources.Resources.Country <span class="required">*</span></label>
                                                    @Html.DropDownListFor(m => m.Ship.Country, new SelectList(Model.CountryList), new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.FirstName <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Ship.FirstName, new { @id = "shipFirstName" })
                                                    @Html.ValidationMessageFor(m => m.Ship.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.LastName <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Ship.LastName, new { @id = "shipLastName" })
                                                    @Html.ValidationMessageFor(m => m.Ship.LastName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.CompanyName</label>
                                                    @Html.TextBoxFor(m => m.Ship.CompanyName, new { @id = "shipCompanyName" })
                                                    @Html.ValidationMessageFor(m => m.Ship.CompanyName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.Address <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Ship.Address1, new { @id = "shipAddressLine1" })
                                                    @Html.ValidationMessageFor(m => m.Ship.Address1, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    @Html.TextBoxFor(m => m.Ship.Address2, new { @id = "shipAddressLine2" })
                                                    @Html.ValidationMessageFor(m => m.Ship.Address2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.TownCity <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Ship.City, new { @id = "shipAddressCity" })
                                                    @Html.ValidationMessageFor(m => m.Ship.City, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.StateCounty <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Ship.State, new { @id = "shipAddressState" })
                                                    @Html.ValidationMessageFor(m => m.Ship.State, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.PostcodeZip <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Ship.ZipCode, new { @id = "shipAddressZipCode" })
                                                    @Html.ValidationMessageFor(m => m.Ship.ZipCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.EmailAddress <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Ship.Email, new { @id = "shipEmail" })
                                                    @Html.ValidationMessageFor(m => m.Ship.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-form-list mb-30">
                                                    <label>@AtesShop.Resources.Resources.MobilePhone <span class="required">*</span></label>
                                                    @Html.TextBoxFor(m => m.Ship.Phone, new { @class = "form-control", @id = "shipAddressPhone" })
                                                    @Html.ValidationMessageFor(m => m.Ship.Phone, "", new { @class = "text-danger" })
                                                    <span id="phone-valid-msg-sa" class="phone-hide">✓ @AtesShop.Resources.Resources.Valid</span>
                                                    <span id="phone-error-msg-sa" class="phone-hide"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-notes">
                                        <div class="checkout-form-list">
                                            <label>@AtesShop.Resources.Resources.OrderNotes</label>
                                            @Html.TextAreaFor(m => m.OrderNote, new { @id = "checkout-mess", @cols = "30", @rows = "10", @placeholder = AtesShop.Resources.Resources.OrderNotesDescription })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6">

                            @for (int i = 0; i < Model.Quantities.Count; i++)
                            {
                                @Html.HiddenFor(m => m.Quantities[i].productId)
                                @Html.HiddenFor(m => m.Quantities[i].productQuantity)
                            }
                            @Html.HiddenFor(m => m.CartTotalPriceWithTax)

                            <div class="your-order">
                                <h3>@AtesShop.Resources.Resources.YourOrder</h3>
                                <div class="your-order-table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th colspan="1" class="product-name">@AtesShop.Resources.Resources.Product</th>
                                                <th colspan="1" class="product-quantity">@AtesShop.Resources.Resources.Quantity</th>
                                                <th colspan="1" class="product-total">@AtesShop.Resources.Resources.Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var product in Model.CartProducts)
                                            {
                                                var productQuantity = Model.Quantities.Where(x => x.productId == product.Id).Select(x => x.productQuantity).FirstOrDefault();
                                                
                                                <tr class="cart_item">
                                                    <td class="product-name">
                                                        @product.Name <br /> @product.Description
                                                    </td>
                                                    <td class="product-quantity">@productQuantity</td>
                                                    <td class="product-total">
                                                        <span class="amount">@Model.CartProductsSubTotal[product.Id]</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th colspan="1">@AtesShop.Resources.Resources.CartSubtotal</th>
                                                <td></td>
                                                <td><span class="amount">@Model.CartTotalPrice</span></td>
                                            </tr>
                                            <tr class="cart-subtotal">
                                                <th colspan="1">@AtesShop.Resources.Resources.Tax</th>
                                                <td></td>
                                                <td><span class="amount">@Model.CartTaxPrice</span></td>
                                            </tr>
                                            <tr class="order-total">
                                                <th colspan="1">@AtesShop.Resources.Resources.OrderTotal</th>
                                                <td></td>
                                                <td>
                                                    <strong><span class="amount">@Model.CartTotalPriceWithTax</span></strong>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="payment-method">
                                    <div class="payment-accordion">
                                        <div class="order-button-payment">
                                            <input id="placeOrder" type="submit" value= "@AtesShop.Resources.Resources.PlaceOrder" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="checkout-area pb-60">
            <div class="container">
                <div class="text-content pb-20"><p>@AtesShop.Resources.Resources.NoProductsInCart</p></div>
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <div class="buttons-cart">
                            <a href="@Url.Action("Index", "Shop")">@AtesShop.Resources.Resources.ContinueShopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}

<script src="../../Client_Scripts/MvcFoolproofJQueryValidation.js" type="text/javascript"></script>
<script src="../../Client_Scripts/mvcfoolproof.unobtrusive.js" type="text/javascript"></script>

<script src="../../Content/js/phone/intlTelInput.js"></script>

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#checkoutForm");
    });

    //$('#placeOrder').click(function () {
    //    $.cookie('CartProducts', "", { path: '/' });
    //})

    var countryData = window.intlTelInputGlobals.getCountryData();
    
    var errorMap = [@AtesShop.Resources.Resources.InvalidNumber, @AtesShop.Resources.Resources.InvalidCountryCode, @AtesShop.Resources.Resources.TooShort, @AtesShop.Resources.Resources.TooLong, @AtesShop.Resources.Resources.InvalidNumber];

    for (var i = 0; i < countryData.length; i++) {
        var country = countryData[i];
        country.name = country.name.replace(/.+\((.+)\)/, "$1");
    }

    var inputBA = document.querySelector("#billAddressPhone"),
        errorMsgBA = document.querySelector("#phone-error-msg-ba"),
        validMsgBA = document.querySelector("#phone-valid-msg-ba");

    var resetBA = function () {
        inputBA.classList.remove("phone-error");
        errorMsgBA.innerHTML = "";
        errorMsgBA.classList.add("phone-hide");
        validMsgBA.classList.add("phone-hide");
    };

    var itiBA = window.intlTelInput(inputBA, {
        nationalMode: true,
        initialCountry: "TW",
        utilsScript: "../../Content/js/phone/utils.js?1590403638580"
    });

    var validatePhoneBA = function () {
        resetBA();
        if (inputBA.value.trim()) {
            if (itiBA.isValidNumber()) {
                validMsgBA.classList.remove("phone-hide");
            } else {
                inputBA.classList.add("phone-error");
                var errorCode = itiBA.getValidationError();
                if (errorCode == -99) errorCode = 0;
                errorMsgBA.innerHTML = errorMap[errorCode];
                errorMsgBA.classList.remove("phone-hide");
                inputBA.classList.remove("valid");
                inputBA.classList.add("input-validation-error");
            }
        }
    }

    inputBA.addEventListener('blur', function () {
        validatePhoneBA();
    });

    inputBA.addEventListener('change', resetBA);
    inputBA.addEventListener('keyup', resetBA);

    var inputSA = document.querySelector("#shipAddressPhone"),
        errorMsgSA = document.querySelector("#phone-error-msg-sa"),
        validMsgSA = document.querySelector("#phone-valid-msg-sa");

    var resetSA = function () {
        inputSA.classList.remove("phone-error");
        errorMsgSA.innerHTML = "";
        errorMsgSA.classList.add("phone-hide");
        validMsgSA.classList.add("phone-hide");
    };

    var itiSA = window.intlTelInput(inputSA, {
        nationalMode: true,
        initialCountry: "TW",
        utilsScript: "../../Content/js/phone/utils.js?1590403638580"
    });

    var validatePhoneSA = function () {
        resetSA();
        if (inputSA.value.trim()) {
            if (itiSA.isValidNumber()) {
                validMsgSA.classList.remove("phone-hide");
            } else {
                inputSA.classList.add("phone-error");
                var errorCode = itiSA.getValidationError();
                if (errorCode == -99) errorCode = 0;
                errorMsgSA.innerHTML = errorMap[errorCode];
                errorMsgSA.classList.remove("phone-hide");
                inputSA.classList.remove("valid");
                inputSA.classList.add("input-validation-error");
            }
        }
    }

    inputSA.addEventListener('blur', function () {
        validatePhoneSA();
    });

    inputSA.addEventListener('change', resetSA);
    inputSA.addEventListener('keyup', resetSA);

</script>