@model ShopDetailViewModel
@{
    ViewBag.Title = "Detail";

    List<int> idList = new List<int>();
    var CompareProductsCookie = Request.Cookies["CompareProducts"];
    if (CompareProductsCookie != null && CompareProductsCookie.Value != "")
    {
        idList = CompareProductsCookie.Value.Split('-').Select(x => int.Parse(x)).ToList();
        idList.RemoveAt(0);
    }
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">@AtesShop.Resources.Resources.HomeT1O1</a></li>
                <li><a href="@Url.Action( "Index", "Shop")">@AtesShop.Resources.Resources.ShopT1O3</a></li>
                <li class="active"><a href="@Url.Action("Detail", "Shop")">@Model.Name</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Product Thumbnail Start -->
<div class="main-product-thumbnail pb-60">
    <div class="container">
        <div class="row">
            <!-- Main Thumbnail Image Start -->
            <div class="col-lg-5">
                <!-- Thumbnail Large Image start -->
                <div class="tab-content">
                    @{
                        var i = 1;
                        foreach (var image in Model.ProductImages)
                        {
                            <div id="thumb@(i)" class="tab-pane @if (i==1) { <text>active</text>} ">
                                <a data-fancybox="images" href="@Url.Action( "Image", "Products", new { id = image.Id })">
                                    <img src="@Url.Action( "Image", "Products", new { id = image.Id })" alt="product-view">
                                </a>
                            </div>
                            i++;
                        }
                    }
                    @*<div id="thumb1" class="tab-pane active">
                            <a data-fancybox="images" href="~/Content/img/products/ip1_bullet.png"><img src="~/Content/img/products/ip1_bullet.png" alt="product-view"></a>
                        </div>
                        <div id="thumb2" class="tab-pane">
                            <a data-fancybox="images" href="~/Content/img/products/ip1_dome.png"><img src="~/Content/img/products/ip1_dome.png" alt="product-view"></a>
                        </div>*@
                </div>
                <!-- Thumbnail Large Image End -->
                <!-- Thumbnail Image End -->
                <div class="product-thumbnail">
                    <div class="thumb-menu nav">
                        @{
                            var j = 1;
                            foreach (var image in Model.ProductImages)
                            {
                                <a data-toggle="tab" href="#thumb@(j)" @if (j == 1) { <text>class="active"</text> }>
                                    <img src="@Url.Action( "Image", "Products", new { id = image.Id })" alt="product-thumbnail" />
                                </a>
                                    j++;
                                    if (j == 5) { break; }
                            }
                        }
                    </div>
                </div>
                <!-- Thumbnail image end -->
            </div>
            <!-- Main Thumbnail Image End -->
            <!-- Thumbnail Description Start -->
            <div class="col-lg-7">
                <div class="thubnail-desc fix">
                    <h3 class="product-header">@Model.Name</h3>
                    <p class="ptb-10">@Model.Description</p>
                    <div class="rating-summary fix mb-10">
                        <div class="rating f-left">
                            @for (int k = 0; k < 5; k++)
                            {
                                if (k < Model.Rate)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                else
                                {
                                    <i class="fa fa-star-o"></i>
                                }
                            }
                        </div>
                        @*<div class="rating-feedback f-left">
                            <a href="#">(1 review)</a>
                            <a href="#">add to your review</a>
                        </div>*@
                    </div>
                    <div class="pro-price mb-10">
                        @if (Model.IsDiscount)
                        {
                            <p><span class="price">@Model.Price</span><del class="prev-price">@Model.PrePrice</del></p>
                        }
                        else
                        {
                            <p><span class="price">@Model.Price</span></p>
                        }
                    </div>
                    @*<div class="pro-ref mb-15">
                        <p><span class="in-stock">IN STOCK</span><span class="sku">50</span></p>
                    </div>*@
                    @if (Model.Price != "Contact Us")
                    {
                        <div class="box-quantity">
                            <input class="number" id="numeric" type="number" min="1" value="1">
                            <a class="add-cart-qty" href="#" data-id="@Model.Id">add to cart</a>
                        </div>
                    }
                    
                    <div class="product-link" style="border-top: 0px; margin-top: 10px; padding-top: 10px;">
                        <ul class="list-inline">
                            @if (Request.IsAuthenticated)
                            {
                                <li><a class="add-wishlist @if (Model.IsWished) {<text>selected</text> }" href="#" data-id="@Model.Id"><i class="fa fa-heart"></i></a></li>
                            }
                            
                            <li><a class="add-compare @if (idList.Contains(Model.Id)){ <text>selected</text> }" href="#" data-id="@Model.Id" data-cat-id="@Model.CategoryId" data-toggle="tooltip" title="Add to Compare">Add to Compare</a></li>
                            <li><a href="@Url.Action("Contact", "Home")"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>

                    <div class="feature-section">
                        <ul>
                            @foreach (var feature in Model.ProductFeatures)
                            {
                                <li>@feature.FeatureValue</li>
                            }
                        </ul>

                    </div>

                </div>
            </div>
            <!-- Thumbnail Description End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail End -->
<!-- Product Thumbnail Description Start -->
<div class="thumnail-desc pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="main-thumb-desc nav">
                    <li><a class="active" data-toggle="tab" href="#dtail">Details</a></li>
                    <li><a data-toggle="tab" href="#review">Reviews 1</a></li>
                </ul>
                <!-- Product Thumbnail Tab Content Start -->
                <div class="tab-content thumb-content border-default">
                    <div id="dtail" class="tab-pane in active">
                        <table style="font-size:14px; width:100%;border-spacing:0px;table-layout:fixed;word-wrap:break-word;">
                            <tbody>
                                @foreach (var sect in Model.Attributes)
                                {
                                    <tr>
                                        <td colspan="60" style="border:1px solid #FFFFFF;padding:1px 0px 1px 5px;vertical-align:middle;background-color:#C3C5C5;font-weight:bold;">@sect.Key.Name</td>
                                    </tr>

                                    foreach (var val in sect.Value)
                                    {
                                        <tr>
                                            <td colspan="18" style="border:1px solid #FFFFFF;padding:1px 0px 1px 5px;vertical-align:middle;background-color:#F2F2F2;">@val.AttributeType.Name</td>
                                            <td colspan="42" style="border:1px solid #FFFFFF;padding:1px 0px 1px 5px;vertical-align:middle;background-color:#F2F2F2;">@val.AttributeValue.Name</td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                    <div id="review" class="tab-pane">
                        <!-- Reviews Start -->
                        <div class="review">
                            <div class="group-title">
                                <h2>customer review</h2>
                            </div>
                            <h4 class="review-mini-title">Caner Ates</h4>
                            <ul class="review-list">
                                <!-- Single Review List Start -->
                                <li>
                                    <span>Quality</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <label>Caner Ates</label>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>price</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <label>Review by Caner Ates</label>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>value</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <label>Posted on 1/1/20</label>
                                </li>
                                <!-- Single Review List End -->
                            </ul>
                        </div>
                        <!-- Reviews End -->
                        <!-- Reviews Start -->
                        <div class="review border-default universal-padding mt-30">
                            <h2 class="review-title mb-30">You're reviewing: <br><span>PA-GS-P482500-S</span></h2>
                            <p class="review-mini-title">your rating</p>
                            <ul class="review-list">
                                <!-- Single Review List Start -->
                                <li>
                                    <span>Quality</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>price</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <!-- Single Review List End -->
                                <!-- Single Review List Start -->
                                <li>
                                    <span>value</span>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </li>
                                <!-- Single Review List End -->
                            </ul>
                            <!-- Reviews Field Start -->
                            <div class="riview-field mt-40">
                                <form autocomplete="off" action="#">
                                    <div class="form-group">
                                        <label class="req" for="sure-name">Nickname</label>
                                        <input type="text" class="form-control" id="sure-name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label class="req" for="subject">Summary</label>
                                        <input type="text" class="form-control" id="subject" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label class="req" for="comments">Review</label>
                                        <textarea class="form-control" rows="5" id="comments" required="required"></textarea>
                                    </div>
                                    <button type="submit" disabled class="btn-submit">Submit Review</button>
                                </form>
                            </div>
                            <!-- Reviews Field Start -->
                        </div>
                        <!-- Reviews End -->
                    </div>
                </div>
                <!-- Product Thumbnail Tab Content End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Product Thumbnail Description End -->
<!-- Realted Product Start -->
<div class="related-product pb-30">
    <div class="container">
        <div class="related-box">
            <div class="group-title">
                <h2>related product</h2>
            </div>
            <!-- Realted Product Activation Start -->
            <div class="new-upsell-pro owl-carousel">
                <!-- Single Product Start -->
                @foreach (var product in Model.RelatedProducts)
                {
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="@Url.Action("Detail", "Shop", new { id = product.Id })">
                                @{
                                    int flag = 1;
                                }
                                @foreach (var image in product.Images)
                                {
                                    <img class="@(flag==1 ? "primary-img":"secondary-img")" src="@Url.Action( "Image", "Products", new { id = image.Id })" alt="single-product">
                                    flag++;
                                }
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <div class="product-rating">
                                @for (int k = 0; k < 5; k++)
                                {
                                    if (k < Model.Rate)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star-o"></i>
                                    }
                                }
                            </div>
                            <h4><a href="@Url.Action("Detail", "Shop", new { id = product.Id })">@product.Name</a></h4>
                            <div class="pro-description">
                                <a href="@Url.Action("Detail", "Products", new { id = product.Id })"><p>@product.Description</p></a>
                            </div>
                            @if (product.isDiscount)
                            {
                                <p><span class="price">@product.Price</span><del class="prev-price">@product.PrePrice</del></p>
                            }
                            else
                            {
                                <p><span class="price">@product.Price</span></p>
                            }
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    @if (Request.IsAuthenticated)
                                    {
                                        <a class="add-wishlist @if (product.isWished) {<text>selected</text> }" href="#" data-id="@product.Id" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                    }
                                    
                                    <a class="add-cart" href="#" data-id="@product.Id" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                    <a class="add-compare @if (idList.Contains(product.Id)){ <text>selected</text> }" href="#" data-id="@product.Id" data-cat-id="@product.CategoryId" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Product Content End -->
                        @*<span class="sticker-new">-32%</span>*@
                    </div>
                                    }
                <!-- Single Product End -->
            </div>
            <!-- Realted Product Activation End -->
        </div>
    </div>
</div>
<!-- Realted Product End -->

<script>
    var products;

    $('.add-cart').click(function (event) {
        event.preventDefault();

        var currentCartCookie = $.cookie('CartProducts');

        if (currentCartCookie != undefined && currentCartCookie != "" && currentCartCookie != null) {
            products = currentCartCookie.split('-');
        }
        else {
            products = [];
        }
        var productId = $(this).attr('data-id');

        products.push(productId);

        $.cookie('CartProducts', products.join('-'), { path: '/' });

        var cart = $('.cart-counter');

        var imgtodrag = $(this).parents().eq(3).children().eq(0).find("img").eq(1);

        cartAnimation(cart, imgtodrag);

        $(this).blur();
    });

    $('.add-cart-qty').click(function (event) {
        event.preventDefault();

        var currentCartCookie = $.cookie('CartProducts');

        if (currentCartCookie != undefined && currentCartCookie != "" && currentCartCookie != null) {
            products = currentCartCookie.split('-');
        }
        else {
            products = [];
        }
        var productId = $(this).attr('data-id');
        var productQty = $('#numeric').val();

        if ($.isNumeric(productQty) && productQty > 0) {
            for (var i = 0; i < productQty; i++) {
                products.push(productId);
            }
        }
        else {
            products.push(productId);
        }

        $.cookie('CartProducts', products.join('-'), { path: '/' });

        var cart = $('.cart-counter');

        var imgtodrag = $(this).parents().eq(3).children().find('div.active img');

        cartAnimation(cart, imgtodrag);
        $(this).blur();
    });

    $('#numeric').bind('keyup mouseup change', function () {
        var value = $(this).val();
        if (!($.isNumeric(value)) || value < 1) {
            $(this).val(1);
        }
    });

    $('.add-wishlist').click(function () {
        event.preventDefault();
        var wishBtn = $(this);
        var productId = wishBtn.attr('data-id');

        $.ajax({
            url: '@Url.Action("AddToWishlist", "Generic")',
            data: {
                productId: productId
            }
        })
        .done(function (response) {
            wishBtn.addClass('selected');
            wishBtn.addClass('animated');
            heartAnimation();

        })
        .fail(function (XMLHttpRequest, testStatus, errorThrown) {
            //alert("Fail");
        });
    });

    $('.add-compare').click(function (event) {
        event.preventDefault();
        var compareBtn = $(this);
        var productId = compareBtn.attr('data-id');
        var categoryId = compareBtn.attr('data-cat-id');

        var currentCompareCookie = $.cookie('CompareProducts');

        if (currentCompareCookie != undefined && currentCompareCookie != "" && currentCompareCookie != null)
        {
            products = currentCompareCookie.split('-');
        }
        else
        {
            products = [];
        }

        if (products.length >= 4) {

            swal({
                title: "Comparison limit (3).",
                text: "Do you want to compare products now ?",
                icon: "warning",
                buttons: {
                    confirm: {text: "Compare", className: 'sweet-warning button'},
                    cancel: "Cancel"
                }
            })
            .then((value) => {
                if (value) {
                    var url = "@Url.Action("Compare", "Generic")";
                    window.location.href = url;
                }
            });
        }

        else if (products.length > 0 && products[0] != categoryId) {
            swal({
                text: "Please choose the same category for comparison.",
                icon: "warning",
                buttons: {
                    confirm: {text: 'Ok', className: 'sweet-warning button'}
                }
            });
        }
        else {
            if (products.length == 0) {
                products.push(categoryId);
            }
            products.push(productId);
            $.cookie('CompareProducts', products.join('-'), { path: '/' });
            compareBtn.addClass('selected');
            compareBtn.addClass('animated');
        }
    });

</script>
