@model NewProductViewModel

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="page-header">
        <h2>Add Product</h2>
    </div>
</div>

<div class="container">
    <form id="createProduct" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Product Name</label>
            <div class="col-sm-10">
                <input class="form-control" name="Name" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Product Description</label>
            <div class="col-sm-10">
                <input class="form-control" name="Description" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Product Price</label>
            <div class="col-sm-10">
                <input class="form-control" name="Price" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Product Category</label>
            <div class="col-sm-10">
                <select class="form-control" name="CategoryId">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Discount</label>
            <div class="col-sm-10">
                <div class="radio">
                    <label><input name="isDiscount" type="radio" value="True" checked /><span class="glyphicon glyphicon-ok" style="color:darkseagreen"></span></label>
                </div>
                <div class="radio">
                    <label><input name="isDiscount" type="radio" value="False" /><span class="glyphicon glyphicon-remove" style="color:red"></span></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Featured</label>
            <div class="col-sm-10">
                <div class="radio">
                    <label><input name="isFeatured" type="radio" value="True" checked/><span class="glyphicon glyphicon-ok" style="color:darkseagreen"></span></label>
                </div>
                <div class="radio">
                    <label><input name="isFeatured" type="radio" value="False"/><span class="glyphicon glyphicon-remove" style="color:red"></span></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">New</label>
            <div class="col-sm-10">
                <div class="radio">
                    <label><input name="isNew" type="radio" value="True" checked /><span class="glyphicon glyphicon-ok" style="color:darkseagreen"></span></label>
                </div>
                <div class="radio">
                    <label><input name="isNew" type="radio" value="False" /><span class="glyphicon glyphicon-remove" style="color:red"></span></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Top Rated</label>
            <div class="col-sm-10">
                <div class="radio">
                    <label><input name="isTopRated" type="radio" value="True" checked /><span class="glyphicon glyphicon-ok" style="color:darkseagreen"></span></label>
                </div>
                <div class="radio">
                    <label><input name="isTopRated" type="radio" value="False" /><span class="glyphicon glyphicon-remove" style="color:red"></span></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Best Seller</label>
            <div class="col-sm-10">
                <div class="radio">
                    <label><input name="isBestSeller" type="radio" value="True" checked /><span class="glyphicon glyphicon-ok" style="color:darkseagreen"></span></label>
                </div>
                <div class="radio">
                    <label><input name="isBestSeller" type="radio" value="False" /><span class="glyphicon glyphicon-remove" style="color:red"></span></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Select Image</label>
            <div class="col-sm-10">

                @foreach (var image in Model.AvailableImages)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedImages"
                                   value="@image.Id"
                                   @if (Model.SelectedImages.Contains(@image.Id)) { <text> checked</text>
                                           } /> @image.Name
                                    </label>
                                </div>
                }

            </div>
        </div>

        

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="saveBtn" class="btn btn-success" type="button">Save</button>
            </div>
        </div>
    </form>
</div>

<script>

    $("#saveBtn").click(function () {
        if (validateSubmission()) {
            saveRequest();
        }
        
    });

    function validateSubmission() {
        var checkboxes = document.getElementsByName("SelectedImages");
        var flag = false;
        for (var i = 0, l = checkboxes.length; i < l; i++) {
            if (checkboxes[i].checked) {
                flag = true;
                break;
            }
        }
        if (!flag) {
            alert("Please check at least one image.");
        }
        return flag;
    }

    function saveRequest() {
        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize()
        })
        .done(function (response) {
            //alert("Success");
            $("#tableContainer").html(response);
            $("#actionContainer").html("");
            focusAction("tableContainer");
        })
        .fail(function (XMLHttpRequest, testStatus, errorThrown) {
            alert("Fail");
        });
    }

</script>