@model AtesShop.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = AtesShop.Resources.Resources.ForgotYourPassword;
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">@AtesShop.Resources.Resources.HomeT1O1</a></li>
                <li class="active"><a href="@Url.Action("ForgotPassword", "Account")">@AtesShop.Resources.Resources.Recover</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Register Account Start -->
<div class="register-account pb-30">
    <div class="container">
        <div class="register-title">
            <h3 class="mb-20">@AtesShop.Resources.Resources.RecoverPassword</h3>
            <p class="mb-10">@AtesShop.Resources.Resources.HaveAccount</p>
        </div>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <fieldset>
                <legend>@AtesShop.Resources.Resources.YourRecoverEmail</legend>
                <div class="form-group">
                    <div><label class="control-label" for="email"><span class="require">*</span>@AtesShop.Resources.Resources.EnterYourEmail</label></div>
                    <div class="col-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = AtesShop.Resources.Resources.EnterYourEmail })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
            <div class="buttons newsletter-input" style="height:100px;">
                <div class="pull-left">
                    <input type="submit" class="return-customer-btn mr-20" value="@AtesShop.Resources.Resources.Send" />
                </div>
            </div>
        }
    </div>
    <!-- Container End -->
</div>
<!-- Register Account End -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
