@model AtesShop.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">@AtesShop.Resources.Resources.HomeT1O1</a></li>
                <li class="active"><a href="@Url.Action("ForgotPassword", "Account")">Recover</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Register Account Start -->
<div class="register-account pb-30">
    <div class="container">
        <div class="register-title">
            <h3 class="mb-20">Recover Password</h3>
            <p class="mb-10">If you already have an account with us, please login at the login page.</p>
        </div>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <fieldset>
                <legend>Your Recover Email Address</legend>
                <div class="form-group">
                    <label class="control-label" for="email"><span class="require">*</span>Enter your email address here...</label>
                    <div class="col-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your email address here..." })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
            <div class="buttons newsletter-input" style="height:100px;">
                <div class="pull-left">
                    <input type="submit" class="return-customer-btn mr-20" value="Send" />
                </div>
            </div>
        }
    </div>
    <!-- Container End -->
</div>
<!-- Register Account End -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
