@model List<AtesShop.Web.Models.UserViewModel>
@{
    ViewBag.Title = "UserTable";
}

<br />
<div class="container" id="tableContainer">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var elem in Model)
            {
                <tr>
                    <td>@elem.UserName</td>
                    <td>@elem.FirstName</td>
                    <td>@elem.LastName</td>
                    <td>@elem.Email</td>
                    <td>
                        @foreach (var role in elem.RoleNames)
                        {
                            if (role != null)
                            {
                                <span>@role </span>
                            }
                        }
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="editBtn btn btn-primary" data-id="@elem.UserName">Edit</button>
                            <button type="button" class="deleteBtn btn btn-danger disabled" data-id="@elem.UserName">Delete</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    
    $(".editBtn").click(function () {
        $.ajax({
            url: '/Account/RoleEdit',
            data: {
                UserName: $(this).attr("data-id")
            }
        })
        .done(function (response) {
            //alert("Success");
            $("#actionContainer").html(response);
            focusAction("actionContainer");
        })
        .fail(function (XMLHttpRequest, testStatus, errorThrown) {
            //alert("Fail");
        });
    });


</script>

