@{
    ViewBag.Title = AtesShop.Resources.Resources.Downloads;
}

<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">@AtesShop.Resources.Resources.HomeT1O1</a></li>
                <li class="active"><a href="@Url.Action("Download", "Generic")">@AtesShop.Resources.Resources.Downloads</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="thumnail-desc pb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="main-thumb-desc nav">
                    <li><a class="active" data-toggle="tab" href="#specs">@AtesShop.Resources.Resources.Specifications</a></li>
                    <li><a data-toggle="tab" href="#manuals">@AtesShop.Resources.Resources.UserManuals</a></li>
                    <li><a data-toggle="tab" href="#tools">@AtesShop.Resources.Resources.Tools</a></li>
                </ul>
                <div class="tab-content thumb-content border-default">
                    <div id="specs" class="tab-pane in active">
                        <div id="specList" class="list-group list-group-flush">
                            @{
                                Html.RenderAction("SpecList");
                            }
                        </div>
                    </div>
                    <div id="manuals" class="tab-pane">
                        <div id="manualList" class="list-group list-group-flush">
                            @{
                                Html.RenderAction("ManualList");
                            }
                        </div>
                    </div>
                    <div id="tools" class="tab-pane">
                        <div id="toolList" class="list-group list-group-flush">
                            @{
                                Html.RenderAction("ToolList");
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
