@model ContactViewModel
@{
    ViewBag.Title = AtesShop.Resources.Resources.ContactUsT2O2;
}

<div class="container ptb-30">
    <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.1528651316894!2d121.44725041484239!3d25.062807483958796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a8833db6c085%3A0xdb2637de842bbb72!2z5Yuk576O5L-h!5e0!3m2!1str!2stw!4v1579491598790!5m2!1str!2stw" height=400 frameborder="0" style="border:0; width:100%" allowfullscreen=""></iframe></div>
</div>
<div class="contact-email-area ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>@AtesShop.Resources.Resources.ContactUs</h3>
                <p class="text-capitalize mb-40">@AtesShop.Resources.Resources.PASmartSurveillance</p>
                @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @id = "contact-form", @class = "form-horizontal", role = "form" }))
                {
                    <div class="address-wrapper">
                        <div class="row">
                            <div class="form-group col-md-12 mb-20">
                                <div class="address-fname">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "fname", @placeholder = AtesShop.Resources.Resources.Name })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6 mb-20">
                                <div class="address-email">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email", @placeholder = AtesShop.Resources.Resources.Email })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-6 mb-20">
                                <div class="address-web">
                                    @Html.TextBoxFor(m => m.Website, new { @class = "form-control", @id = "website", @placeholder = AtesShop.Resources.Resources.Website })
                                    @Html.ValidationMessageFor(m => m.Website, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-12 mb-20">
                                <div class="address-subject">
                                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @id = "subject", @placeholder = AtesShop.Resources.Resources.Subject })
                                    @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-12 mb-20">
                                <div class="address-textarea">
                                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @id = "message", @placeholder = AtesShop.Resources.Resources.WriteYourMessage })
                                    @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="form-message ml-15"></p>
                    <div class="col-xs-12 footer-content mail-content">
                        <div class="send-email">
                            <input type="submit" value="@AtesShop.Resources.Resources.Submit" class="submit">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="../../Client_Scripts/MvcFoolproofJQueryValidation.js" type="text/javascript"></script>
<script src="../../Client_Scripts/mvcfoolproof.unobtrusive.js" type="text/javascript"></script>

