
@{
    ViewBag.Title = AtesShop.Resources.Resources.Error;
}

<div class="error404-area pb-60 pt-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-wrapper text-center">
                    <div class="error-text">
                        <h1>404</h1>
                        <h2>@AtesShop.Resources.Resources.PageNotFound</h2>
                        <p>@AtesShop.Resources.Resources.Error404</p>
                    </div>
                    <div class="error-button">
                        <a href="@Url.Action("Index", "Home")">@AtesShop.Resources.Resources.HomeT1O1</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}