@model HomeViewModel
@{
    ViewBag.Title = "Home";
    var newProductsCounter = 0;
    var isNewProductsOpened = false;

    var bestSellerCounter = 0;
    var isBestSellerOpened = false;
}

<!-- Slider Area Start -->
<div class="slider-area pb-60">
    <div class="slider-wrapper theme-default  nivo2">
        <!-- Slider Background  Image Start-->
        <div id="slider" class="nivoSlider">
            <a href="@Url.Action("Index", "Shop")"><img src="~/Content/img/slider/1.jpg" data-thumb="~/Content/img/slider/1.jpg" alt="" title="#slider-1-caption1" /></a>
            <a href="@Url.Action("Index", "Shop")"><img src="~/Content/img/slider/2.jpg" data-thumb="~/Content/img/slider/2.jpg" alt="" title="#slider-1-caption2" /></a>
        </div>
        <!-- Slider Background  Image Start-->
        <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
            <div class="text-content-wrapper">
                <div class="container">
                    <div class="text-content">
                        <h4 class="title2 wow bounceInLeft mb-16" data-wow-duration="2s" data-wow-delay="0s">Big Sale</h4>
                        <h1 class="title1 wow bounceInRight mb-16" data-wow-duration="2s" data-wow-delay="1s">Smart Surveillance <br>IP Camera & NVR </h1>
                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2s" data-wow-delay="2s">
                            <a class="button slider-btn" href="@Url.Action("Index", "Shop")">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
            <div class="text-content-wrapper">
                <div class="container">
                    <div class="text-content slide-2">
                        <h4 class="title2 wow bounceInLeft mb-16" data-wow-duration="1s" data-wow-delay="1s">Big Sale</h4>
                        <h1 class="title1 wow flipInX  mb-16" data-wow-duration="1s" data-wow-delay="2s">Smart Surveillance <br>IP Camera & NVR </h1>
                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="1s" data-wow-delay="2s">
                            <a class="button slider-btn" href="@Url.Action("Index", "Shop")">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End -->
<!-- Banner Start -->
<div class="upper-banner banner pb-60">
    <div class="container">
        <div class="row">
            <!-- Single Banner Start -->
            <div class="col-sm-4">
                <div class="single-banner zoom">
                    <a href="#"><img src="~/Content/img/banner/ipc2.jpg" alt="slider-banner"></a>
                </div>
            </div>
            <!-- Single Banner End -->
            <!-- Single Banner Start -->
            <div class="col-sm-4">
                <div class="single-banner zoom">
                    <a href="#"><img src="~/Content/img/banner/nvr2.jpg" alt="slider-banner"></a>
                </div>
            </div>
            <!-- Single Banner End -->
            <!-- Single Banner Start -->
            <div class="col-sm-4">
                <div class="single-banner zoom">
                    <a href="#"><img src="~/Content/img/banner/sp2.jpg" alt="slider-banner"></a>
                </div>
            </div>
            <!-- Single Banner End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Banner End -->
<!-- Best Products Start -->
<div class="best-seller-product pb-30">
    <div class="container">
        <div class="group-title">
            <h2>Smart Surveillance</h2>
        </div>
        <!-- Best Product Activation Start -->
        <div class="hand-tool-active owl-carousel">
            <!-- Single Product Start -->
            @foreach (var product in Model.BestSellerProducts)
            {
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="pro-img">
                        <a href="@Url.Action("Detail", "Products", new { id = product.Id })">
                            @{
                                int flag = 1;
                            }
                            @foreach (var image in product.Images)
                            {
                                <img class="@(flag == 1 ? "primary-img" : "secondary-img")" src="@Url.Action("Image", "Products", new { id = image.Id })" alt="single-product">
                                flag++;
                            }
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="product-rating">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < product.Rate)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                else
                                {
                                    <i style="color: #444" class="fa fa-star"></i>
                                }
                            }
                        </div>
                        <h4><a href="@Url.Action("Detail", "Products", new { id = product.Id })">@product.Name</a></h4>
                        <div class="pro-description">
                            <a href="@Url.Action("Detail", "Products", new { id = product.Id })"><p>@product.Description</p></a>
                        </div>

                        @if (Request.IsAuthenticated)
                        {
                            if (product.isDiscount)
                            {
                                <div class="mt-10">
                                    <p><span class="price">@product.Price</span><del class="prev-price">@product.PrePrice</del></p>
                                </div>
                            }
                            else
                            {
                                <div class="mt-10">
                                    <p><span class="price">@product.Price</span></p>
                                </div>
                                
                            }
                        }
                        else
                        {
                            <div class="pro-actions">
                                <div class="actions-secondary">
                                    <a class="add-cart" href="@Url.Action("Login", "Account")" data-toggle="tooltip">Check Price</a>
                                </div>
                            </div>
                        }

                        @*<div class="pro-actions">
                            <div class="actions-secondary">
                                <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                <a class="add-cart" href="#" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                            </div>
                        </div>*@
                    </div>
                    <!-- Product Content End -->
                </div>
            }
            <!-- Single Product End -->
        </div>
        <!-- Best Product Activation End -->
    </div>
    <!-- Container End -->
</div>
<!-- Best Product End -->
<!-- Banner Start -->
<div class="upper-banner banner pb-60">
    <div class="container">
        <div class="row">
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="single-banner zoom">
                    <a href="#"><img src="~/Content/img/banner/1.png" alt="slider-banner"></a>
                </div>
            </div>
            <!-- Single Banner End -->
            <!-- Single Banner Start -->
            <div class="col-sm-6">
                <div class="single-banner zoom">
                    <a href="#"><img src="~/Content/img/banner/2.png" alt="slider-banner"></a>
                </div>
            </div>
            <!-- Single Banner End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Banner End -->
<!-- New Products Start -->
<div class="new-products pb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 order-2">
                <div class="side-product-list">
                    <div class="group-title">
                        <h2>Top Products</h2>
                    </div>
                    <!-- Deal Pro Activation Start -->
                    <div class="slider-right-content side-product-list-active owl-carousel">
                        
                        
                        @foreach (var product in Model.NewProducts)
                        {
                            if(newProductsCounter % 5 == 0)
                            {
                                @:<div class="double-pro"> 
                                isNewProductsOpened = true;
                            }
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="@Url.Action("Detail", "Products", new { id = product.Id })">
                                        <img class="img" src="@Url.Action( "Image", "Products", new { id = product.Images.FirstOrDefault().Id })" alt="product-image">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <div class="product-rating">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            if (i < product.Rate)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            else
                                            {
                                                <i style="color: #444" class="fa fa-star"></i>
                                            }
                                        }
                                    </div>
                                    <h4><a href="@Url.Action("Detail", "Products", new { id = product.Id })">@product.Name</a></h4>
                                    @if (Request.IsAuthenticated)
                                    {
                                        if (product.isDiscount)
                                        {
                                            <div class="mt-10">
                                                <p><span class="price">@product.Price</span><del class="prev-price">@product.PrePrice</del></p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="mt-10">
                                                <p><span class="price">@product.Price</span></p>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <a class="price" href="@Url.Action("Login", "Account")" data-toggle="tooltip">Check Price</a>
                                    }
                                </div>
                                <!-- Product Content End -->
                            </div>
                            if(newProductsCounter % 5 == 4)
                            {
                                @:</div> 
                                isNewProductsOpened = false;
                            }
                            newProductsCounter++;
                        }
                        @if(isNewProductsOpened)
                        {
                            @:</div>
                        }

                    </div>
                    <!-- Deal Pro Activation End -->
                </div>
            </div>
            <div class="col-xl-9 col-lg-8  order-lg-2">
                <!-- New Pro Content End -->
                <div class="new-pro-content">
                    <div class="pro-tab-title border-line">
                        <!-- Featured Product List Item Start -->
                        <ul class=" nav product-list product-tab-list mb-30">
                            <li><a class="active" data-toggle="tab" href="#new-arrival">New Arrivals</a></li>
                            <li><a data-toggle="tab" href="#featured">Featured</a></li>
                            <li><a data-toggle="tab" href="#toprated">Top Rated</a></li>
                        </ul>
                        <!-- Featured Product List Item End -->
                    </div>
                    <div class="tab-content product-tab-content jump">
                        <div id="new-arrival" class="tab-pane active">
                            <!-- New Products Activation Start -->
                            <div class="new-pro-active owl-carousel">
                                @foreach (var product in Model.NewProducts)
                                {
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="@Url.Action("Detail", "Products", new { id = product.Id })">
                                                @{
                                                    int flag = 1;
                                                }
                                                @foreach (var image in product.Images)
                                                {
                                                    <img class="@(flag == 1 ? "primary-img" : "secondary-img")" src="@Url.Action("Image", "Products", new { id = image.Id })" alt="single-product">
                                                    flag++;
                                                }
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                @for (int i = 0; i < 5; i++)
                                                {
                                                    if (i < product.Rate)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    else
                                                    {
                                                        <i style="color: #444" class="fa fa-star"></i>
                                                    }
                                                }
                                            </div>
                                            <h4><a href="@Url.Action("Detail", "Products", new { id = product.Id })">@product.Name</a></h4>
                                            <div class="pro-description">
                                                <a href="@Url.Action("Detail", "Products", new { id = product.Id })"><p>@product.Description</p></a>
                                            </div>
                                            @if (Request.IsAuthenticated)
                                            {
                                                if (product.isDiscount)
                                                {
                                                    <div class="mt-10">
                                                        <p><span class="price">@product.Price</span><del class="prev-price">@product.PrePrice</del></p>
                                                    </div>
                                                    
                                                }
                                                else
                                                {
                                                    <div class="mt-10">
                                                        <p><span class="price">@product.Price</span></p>
                                                    </div>
                                                    
                                                }
                                            }

                                            else
                                            {
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a class="add-cart" href="@Url.Action("Login", "Account")" data-toggle="tooltip">Check Price</a>
                                                    </div>
                                                </div>
                                            }

                                            @*<div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a class="add-cart" href="#" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>*@
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                }
                                
                            </div>
                            <!-- New Products Activation End -->
                        </div>

                        <div id="featured" class="tab-pane">
                            <!-- New Products Activation Start -->
                            <div class="new-pro-active owl-carousel">
                                @foreach (var product in Model.FeaturedProducts)
                                {
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="@Url.Action("Detail", "Products", new { id = product.Id })">
                                                @{
                                                    int flag = 1;
                                                }
                                                @foreach (var image in product.Images)
                                                {
                                                    <img class="@(flag == 1 ? "primary-img" : "secondary-img")" src="@Url.Action("Image", "Products", new { id = image.Id })" alt="single-product">
                                                    flag++;
                                                }
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                @for (int i = 0; i < 5; i++)
                                                {
                                                    if (i < product.Rate)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    else
                                                    {
                                                        <i style="color: #444" class="fa fa-star"></i>
                                                    }
                                                }
                                            </div>
                                            <h4><a href="@Url.Action("Detail", "Products", new { id = product.Id })">@product.Name</a></h4>
                                            <div class="pro-description">
                                                <a href="@Url.Action("Detail", "Products", new { id = product.Id })"><p>@product.Description</p></a>
                                            </div>
                                            @if (Request.IsAuthenticated)
                                            {
                                                if (product.isDiscount)
                                                {
                                                    <div class="mt-10">
                                                        <p><span class="price">@product.Price</span><del class="prev-price">@product.PrePrice</del></p>
                                                    </div>
                                                    
                                                }
                                                else
                                                {
                                                    <div class="mt-10">
                                                        <p><span class="price">@product.Price</span></p>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a class="add-cart" href="@Url.Action("Login", "Account")" data-toggle="tooltip">Check Price</a>
                                                    </div>
                                                </div>
                                            }

                                            @*<div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a class="add-cart" href="#" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>*@
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                                    }

                            </div>
                            <!-- New Products Activation End -->
                        </div>
                        <!-- New Products End -->
                        <div id="toprated" class="tab-pane">
                            <!-- New Products Activation Start -->
                            <div class="new-pro-active owl-carousel">
                                @foreach (var product in Model.TopRatedProducts)
                                {
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="@Url.Action("Detail", "Products", new { id = product.Id })">
                                                @{
                                                    int flag = 1;
                                                }
                                                @foreach (var image in product.Images)
                                                {
                                                    <img class="@(flag == 1 ? "primary-img" : "secondary-img")" src="@Url.Action("Image", "Products", new { id = image.Id })" alt="single-product">
                                                    flag++;
                                                }
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                @for (int i = 0; i < 5; i++)
                                                {
                                                    if (i < product.Rate)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    else
                                                    {
                                                        <i style="color: #444" class="fa fa-star"></i>
                                                    }
                                                }
                                            </div>
                                            <h4><a href="@Url.Action("Detail", "Products", new { id = product.Id })">@product.Name</a></h4>
                                            <div class="pro-description">
                                                <a href="@Url.Action("Detail", "Products", new { id = product.Id })"><p>@product.Description</p></a>
                                            </div>
                                            @if (Request.IsAuthenticated)
                                            {
                                                if (product.isDiscount)
                                                {
                                                    <div class="mt-10">
                                                        <p><span class="price">@product.Price</span><del class="prev-price">@product.PrePrice</del></p>
                                                    </div>
                                                    
                                                }
                                                else
                                                {
                                                    <div class="mt-10">
                                                        <p><span class="price">@product.Price</span></p>
                                                    </div>
                                                    
                                                }
                                            }
                                            else
                                            {
                                                <div class="pro-actions">
                                                    <div class="actions-secondary">
                                                        <a class="add-cart" href="@Url.Action("Login", "Account")" data-toggle="tooltip">Check Price</a>
                                                    </div>
                                                </div>
                                            }

                                            @*<div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <a href="#" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a class="add-cart" href="#" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a>
                                                </div>
                                            </div>*@
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                 }
                            </div>
                            <!-- New Products Activation End -->
                        </div>
                    </div>
                    <!-- Tab-Content End -->
                    <div class="single-banner zoom mt-30 ">
                        <a href="#"><img src="~/Content/img/banner/tab-banner.jpg" alt="slider-banner"></a>
                    </div>
                </div>
                <!-- New Pro Content End -->
            </div>
        </div>

    </div>
    <!-- Container End -->
</div>
<!-- New Products End -->
<!-- Company Policy Start -->
<div class="company-policy pb-60 pb-sm-25">
    <div class="container">
        <div class="row">
            <!-- Single Policy Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-policy">
                    <div class="icone-img">
                        <img src="~/Content/img/icon/1.png" alt="">
                    </div>
                    <div class="policy-desc">
                        <h3>Free Delivery</h3>
                        <p>Free shipping on all order</p>
                    </div>
                </div>
            </div>
            <!-- Single Policy End -->
            <!-- Single Policy Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-policy">
                    <div class="icone-img">
                        <img src="~/Content/img/icon/2.png" alt="">
                    </div>
                    <div class="policy-desc">
                        <h3>Online Support 24/7</h3>
                        <p>Support online 24 hours</p>
                    </div>
                </div>
            </div>
            <!-- Single Policy End -->
            <!-- Single Policy Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-policy">
                    <div class="icone-img">
                        <img src="~/Content/img/icon/3.png" alt="">
                    </div>
                    <div class="policy-desc">
                        <h3>Money Return</h3>
                        <p>Back guarantee under 7 days</p>
                    </div>
                </div>
            </div>
            <!-- Single Policy End -->
            <!-- Single Policy Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-policy">
                    <div class="icone-img">
                        <img src="~/Content/img/icon/4.png" alt="">
                    </div>
                    <div class="policy-desc">
                        <h3>Member Discount</h3>
                        <p>Onevery order over $30.00</p>
                    </div>
                </div>
            </div>
            <!-- Single Policy End -->
        </div>
    </div>
</div>
<!-- Company Policy End -->
<!-- Best Products Start -->
<div class="best-seller-product pb-50 pb-sm-40">
    <div class="container">
        <div class="group-title">
            <h2>Best Seller Products</h2>
        </div>
        <!-- Best Product Activation Start -->
        <div class="best-seller-pro-active  owl-carousel slider-right-content">
            <!-- Double Product Start -->
            
            @foreach (var product in Model.BestSellerProducts)
            {
                if(bestSellerCounter % 2 == 0)
                {
                    @:<div class="double-pro"> 
                    isBestSellerOpened = true;
                }
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="pro-img">
                        <a href="@Url.Action("Detail", "Products", new { id = product.Id })">
                            <img class="img" src="@Url.Action( "Image", "Products", new { id = product.Images.FirstOrDefault().Id })" alt="product-image">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="product-rating">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < product.Rate)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                else
                                {
                                    <i style="color: #444" class="fa fa-star"></i>
                                }
                            }
                        </div>
                        <h4><a href="@Url.Action("Detail", "Products", new { id = product.Id })">@product.Name</a></h4>
                        @if (Request.IsAuthenticated)
                        {
                            if (product.isDiscount)
                            {
                                <p><span class="price">@product.Price</span><del class="prev-price">@product.PrePrice</del></p>
                            }
                            else
                            {
                                <p><span class="price">@product.Price</span></p>
                            }
                        }
                        else
                        {
                            <a class="price" href="@Url.Action("Login", "Account")" data-toggle="tooltip">Check Price</a>
                        }

                    </div>
                    <!-- Product Content End -->
                </div>
                if(bestSellerCounter % 2 == 1)
                {
                    @:</div> 
                    isBestSellerOpened = false;
                }
                bestSellerCounter++;
            }
            @if(isBestSellerOpened)
            {
                @:</div>
            }
        </div>
        <!-- Best Product Activation End -->
    </div>
    <!-- Container End -->
</div>

<!-- Best Product End -->
<!-- Blog Page Start -->
<div class="blog-area pb-60">
    <div class="container">
        <div class="group-title">
            <h2>Smart Functions</h2>
        </div>
        <!-- Popular Categorie Activation Start -->
        <div class="blog-active owl-carousel">
            <!-- Single Blog Start -->
            <div class="single-blog">
                <div class="blog-img">
                    <a href="#"><img height="240" width="370" src="~/Content/img/blog/tw.jpg" alt="blog-image"></a>
                </div>
                <div class="blog-content">
                    <h4 class="blog-title"><a href="#">Tripwire detection is to detect if there is any object crossing the warning line, it can support different direction selection, such as A to B, B to A and bidirectional, and it can activate record, snapshot and alarm according to the judgement result. </a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By: </span> <a href="#">Power Active,</a></li>
                            <li><span>On: </span> <a href="#">01 Jan, 2020</a></li>
                        </ul>
                    </div>
                    <div class="readmore">
                        <a href="#">Read More.....</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog End -->
            <!-- Single Blog Start -->
            <div class="single-blog">
                <div class="blog-img">
                    <a href="#"><img height="240" width="370" src="~/Content/img/blog/fd2.png" alt="blog-image"></a>
                </div>
                <div class="blog-content">
                    <h4 class="blog-title"><a href="#">Face detection is to detect if there is any human face appearing in the video, and capture the face then send it to the rear-end for analysis  and processing, it can active snapshot, record and alarm.</a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By </span> <a href="#">Power Active, </a></li>
                            <li><span>On </span> <a href="#">01 Jan, 2020</a></li>
                        </ul>
                    </div>
                    <div class="readmore">
                        <a href="#">Read More.....</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog End -->
            <!-- Single Blog Start -->
            <div class="single-blog">
                <div class="blog-img">
                    <a href="#"><img height="240" width="370" src="~/Content/img/blog/ri.jpg" alt="blog-image"></a>
                </div>
                <div class="blog-content">
                    <h4 class="blog-title"><a href="#">Regional invasion detection is to detect if there is any object entering or leaving the area, it will trigger rule when crossing the area perimeter, support enter and leave, it can activate record, snapshot and alarm according to the judgement result. </a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By </span> <a href="#">Power Active, </a></li>
                            <li><span>On </span> <a href="#">01 Jan, 2020</a></li>
                        </ul>
                    </div>
                    <div class="readmore">
                        <a href="#">Read More.....</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog End -->
            <!-- Single Blog Start -->
            <div class="single-blog">
                <div class="blog-img">
                    <a href="#"><img height="240" width="370" src="~/Content/img/blog/is1-1.png" alt="blog-image"></a>
                </div>
                <div class="blog-content">
                    <h4 class="blog-title"><a href="#">Object detection is to detect if there is any object abandoned or moved in the designated detection area and surpass the set time. It will activate record, snapshot and alarm according to the judgement result. The time can be set 1 to 200 second.</a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By </span> <a href="#">Power Active, </a></li>
                            <li><span>On </span> <a href="#">01 Jan, 2020</a></li>
                        </ul>
                    </div>
                    <div class="readmore">
                        <a href="#">Read More.....</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog End -->
            <!-- Single Blog Start -->
            <div class="single-blog">
                <div class="blog-img">
                    <a href="#"><img height="240" width="370" src="~/Content/img/blog/sc1.png" alt="blog-image"></a>
                </div>
                <div class="blog-content">
                    <h4 class="blog-title"><a href="#">Scene change is to detect if the video scene is changed due to external factors, such as turning camera angle by people to change camera scene, and it can activate record, snapshot and alarm according to the judgement results.  </a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By </span> <a href="#">Power Active, </a></li>
                            <li><span>On </span> <a href="#">01 Jan, 2020</a></li>
                        </ul>
                    </div>
                    <div class="readmore">
                        <a href="#">Read More.....</a>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Popular Categorie Activation End -->
    </div>
    <!-- Container End -->
</div>
<!-- Blog Page End -->
<!-- Brand Logo Start -->
@*<div class="brand-area pb-60">
    <div class="container">
        <!-- Brand Banner Start -->
        <div class="brand-banner owl-carousel">
            <div class="single-brand">
                <a href="#"><img class="img" src="~/Content/img/brand/1.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="~/Content/img/brand/2.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="~/Content/img/brand/3.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="~/Content/img/brand/4.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="~/Content/img/brand/5.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img class="img" src="~/Content/img/brand/1.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="~/Content/img/brand/2.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="~/Content/img/brand/3.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="~/Content/img/brand/4.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="~/Content/img/brand/5.png" alt="brand-image"></a>
            </div>
            
        </div>
        <!-- Brand Banner End -->
    </div>
</div>*@
<!-- Brand Logo End -->