<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - @AtesShop.Resources.Resources.PASmartSurveillance</title>
    <meta name="description" content="Default Description">
    <meta name="keywords" content="E-commerce" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/icon/favicon.png">
    <!-- Google Font css -->
    <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">

    <!-- mobile menu css -->
    <link rel="stylesheet" href="~/Content/css/meanmenu.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- nivo slider css -->
    <link rel="stylesheet" href="~/Content/css/nivo-slider.css">
    <!-- owl carousel css -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <!-- slick css -->
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <!-- price slider css -->
    <link rel="stylesheet" href="~/Content/css/jquery-ui.min.css">
    <!-- fontawesome css -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- fancybox css -->
    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- default css  -->
    
    <!-- style css -->
    @if (Culture == "zh-TW")
    {
        <link rel="stylesheet" href="~/Content/css/default_cn.css">
        <link rel="stylesheet" href="~/Content/css/style_cn.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="~/Content/css/responsive.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/default.css">
        <link rel="stylesheet" href="~/Content/css/style.css">
        <!-- responsive css -->
        <link rel="stylesheet" href="~/Content/css/responsive.css">
    }

    <!-- responsive css -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

    <!-- phone number css -->
    <link rel="stylesheet" href="~/Content/css/phone/intlTelInput.css">

    <!-- modernizr js -->
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- data tables-->
    <!-- mobile menu css -->
    <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css">
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Content/js/jquery-ui.min.js"></script>

</head>

<body>

    <!-- Preloader -->
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>

    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Header Area Start -->
        <header>
            <!-- Header Top Start -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Header Top left Start -->
                        <div class="col-lg-4 col-md-12 d-center">
                            <div class="header-top-left">
                                <img src="~/Content/img/icon/call.png" alt="">@AtesShop.Resources.Resources.CallUs : +886 2 8990 3339
                            </div>
                        </div>
                        <!-- Header Top left End -->
                        <!-- Search Box Start -->
                        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                            <div class="search-box-view">
                                <form id="searchForm" action="@Url.Action("Index", "Products" , new { categoryId = string.Empty })">
                                    <input id="searchKey" type="text" class="email" placeholder="@AtesShop.Resources.Resources.SearchYourProduct" name="search" required>
                                    <button type="submit" class="submit"></button>
                                </form>
                            </div>
                        </div>
                        <!-- Search Box End -->
                        <!-- Header Top Right Start -->
                        <div class="col-lg-4 col-md-12">
                            <div class="header-top-right">
                                <ul class="header-list-menu f-right">
                                   @{ Html.RenderAction("LanguageMenu", "Shared");}
                                </ul>
                                <!-- Header-list-menu End -->
                            </div>
                        </div>
                        <!-- Header Top Right End -->

                        
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End -->
            <!-- Header Bottom Start -->
            <div class="header-bottom header-sticky">
                <div class="container">
                    <div id="header_row" class="row">
                        <div class="col-xl-3 col-lg-3 col-sm-5 col-5">
                            <div class="logo">
                                <a href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo/logo.png" alt="logo-image"></a>
                            </div>
                        </div>
                        <!-- Primary Vertical-Menu End -->
                        <!-- Search Box Start -->
                        @{ Html.RenderAction("MenuTabs", "Shared");}
                        <!-- Search Box End -->
                        <!-- Cartt Box Start -->
                        <div class="col-lg-2 col-sm-7 col-7">
                            <div class="cart-box text-right">
                                <ul>
                                    <li>
                                        @Html.Partial("_LoginPartial")
                                        @*<ul class="ht-dropdown">
                                            <li><a href="@Url.Action("Login", "Account")">Login</a></li>
                                            <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                                            <li><a href="account.html">Account</a></li>
                                        </ul>*@
                                    </li>
                                    <li><a id="wishIcon" href="@Url.Action("Wishlist", "Generic")"><i id="heartIcon" class="fa fa-heart-o"></i><span id="heartWish"><i class="fa fa-heart"></i></span></a></li>
                                    <li>
                                        @if (Culture == "zh-TW" && (User.IsInRole("User") || !Request.IsAuthenticated))
                                        {
                                            <a href="@Url.Action("Cart", "Shop")"><i class="fa fa-shopping-basket"></i><span id="cartProductQuantity" class="cart-counter">0</span></a>
                                        }
                                        @*@{ Html.RenderAction("CartMenu", "Shared");}*@
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cartt Box End -->
                        @{ Html.RenderAction("MobileMenu", "Shared");}
                        <!-- Mobile Menu  End -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Bottom End -->
        </header>
        <!-- Header Area End -->
        
        @RenderBody()

        <footer class="off-white-bg">
            <!-- Footer Top Start -->
            <div class="footer-top pt-50 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mr-auto ml-auto">
                            <div class="newsletter text-center">
                                <div class="main-news-desc">
                                    <div class="news-desc">
                                        <h3>@AtesShop.Resources.Resources.SignUpForNewsletter</h3>
                                        <p>@AtesShop.Resources.Resources.GetEmailUpdates</p>
                                    </div>
                                </div>
                                <div class="newsletter-box">
                                    @{ Html.RenderAction("Subscribe", "Account");}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Single Footer Start -->
                        @*<div class="col-lg-4  col-md-7 col-sm-6">*@
                        <div class="col-lg-12  col-md-12 col-sm-12">
                            <div class="single-footer">
                                <h3>@AtesShop.Resources.Resources.ContactUs</h3>
                                <div class="footer-content">
                                    <div class="loc-address">
                                        <span><i class="fa fa-map-marker"></i>5F., No.23, Wugong 6th Rd., Wugu Dist., New Taipei City 248, Taiwan (R.O.C)</span>
                                        <span><i class="fa fa-envelope-o"></i>@AtesShop.Resources.Resources.MailUs : angus@poweractive-tw.com</span>
                                        <span><i class="fa fa-phone"></i>@AtesShop.Resources.Resources.CallUs: + 886 2 8990 3339</span>
                                    </div>
                                    @*<div class="payment-mth"><a href="#"><img class="img" src="~/Content/img/footer/1.png" alt="payment-image"></a></div>*@
                                </div>
                            </div>
                        </div>
                        @*<!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-2  col-md-5 col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">Information</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#">Site Map</a></li>
                                        <li><a href="#">Specials</a></li>
                                        <li><a href="#">Jobs</a></li>
                                        <li><a href="#">Delivery Information</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-2  col-md-4 col-md-4 col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">My Account</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#">My account</a></li>
                                        <li><a href="#">Checkout</a></li>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">address</a></li>
                                        <li><a href="#">Order status</a></li>
                                        <li><a href="#">Site Map</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-2 col-md-4 col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">customer service</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#">My account</a></li>
                                        <li><a href="#">New</a></li>
                                        <li><a href="#">Gift Cards</a></li>
                                        <li><a href="#">Return Policy</a></li>
                                        <li><a href="#">Your Orders</a></li>
                                        <li><a href="#">Subway</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->
                        <!-- Single Footer Start -->
                        <div class="col-lg-2 col-md-4 col-sm-6 footer-full">
                            <div class="single-footer">
                                <h3 class="footer-title">Let Us Help You</h3>
                                <div class="footer-content">
                                    <ul class="footer-list">
                                        <li><a href="#">Your Account</a></li>
                                        <li><a href="#">Your Orders</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Amazon Prime</a></li>
                                        <li><a href="#">Replacements</a></li>
                                        <li><a href="#">Manage </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single Footer Start -->*@
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Footer Top End -->
            <!-- Footer Bottom Start -->
            @*<div class="footer-bottom off-white-bg2">
                <div class="container">
                    <div class="footer-bottom-content">
                        <p class="copy-right-text">Copyright © <a href="@Url.Action("About","Home")">Power Active</a> All Rights Reserved.</p>
                        <div class="footer-social-content">
                            <ul class="social-content-list">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-wifi"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
            <!-- Footer Bottom End -->
        </footer>
        <!-- Footer End -->
    </div>
    <!-- Wrapper End -->

    <!-- jquery 3.12.4 -->
    @*<script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>*@
    <!-- mobile menu js  -->
    <script src="~/Content/js/jquery.meanmenu.min.js"></script>
    <!-- scroll-up js -->
    <script src="~/Content/js/jquery.scrollUp.js"></script>
    <!-- owl-carousel js -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- slick js -->
    <script src="~/Content/js/slick.min.js"></script>
    <!-- wow js -->
    <script src="~/Content/js/wow.min.js"></script>
    <!-- price slider js -->
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <!-- nivo slider js -->
    <script src="~/Content/js/jquery.nivo.slider.js"></script>
    <!-- fancybox js -->
    <script src="~/Content/js/jquery.fancybox.min.js"></script>

    <script src="~/Content/js/jquery.cookie.js"></script>
    <!-- popper -->
    <script src="~/Content/js/popper.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    
    <!-- plugins -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- main js -->
    <script src="~/Content/js/main.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



</body>
</html>
