@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a href="@Url.Action("Index", "Manage")"><i class="fa fa-user-o"></i></a>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        
    <ul class="ht-dropdown">
        <li>
            <a href="@Url.Action("Index", "Manage")">@AtesShop.Resources.Resources.MyAccount</a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li>
                <a href="@Url.Action("Index", "Order")">@AtesShop.Resources.Resources.Orders</a>
            </li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@AtesShop.Resources.Resources.LogOut</a></li>
    </ul>
    }
}
else
{   
    <a href="@Url.Action("Index", "Manage")"><i class="fa fa-user-o"></i></a>
    <ul class="ht-dropdown">
        <li><a href="@Url.Action("Login", "Account")">@AtesShop.Resources.Resources.SignIn</a></li>
        <li><a href="@Url.Action("Register", "Account")">@AtesShop.Resources.Resources.Register</a></li>
        
    </ul>
}
