
@model LangMenuViewModel
<!-- Language Start -->
<li>
    <a href="#"><i class="fa fa-globe" aria-hidden="true"></i> @AtesShop.Resources.Resources.Language</a>
    <ul class="ht-dropdown">
        @foreach (var lang in Model.Languages)
        {
            <li><a href="@Url.Action("SetCulture", "Shared", new { culture = @lang.Key })">@lang.Value</a></li>
        }
    </ul>
</li>
<!-- Language End -->
<!-- Currency Start -->
<li>
    <a>@Model.SelectedLanguage  ( @Model.SelectedCurrency ) @*<i class="fa fa-angle-down"></i>*@</a>
    @*<ul class="ht-dropdown">
            <li><a href="#">USD</a></li>
            <li><a href="#">GBP</a></li>
            <li><a href="#">EUR</a></li>
        </ul>*@
</li>
<!-- Currency End -->
