
@model MenuViewModel
@using AtesShop.Resources


<div class="col-xl-6 col-lg-7 d-none d-lg-block">
    <div class="middle-menu pull-right">
        <nav>
            <ul class="middle-menu-list">
                @foreach (var main in Model.MainMenuList)
                {
                    if (main.SubMenus.Count != 0)
                    {
                        if (main.Name == AtesShop.Resources.Resources.ProductsT1O2)
                        {
                            <li>
                                <a href="@Url.Action(main.ActionName, main.ControllerName , new { categoryId = string.Empty })">@main.Name<i class="fa fa-angle-down"></i></a>
                                <ul class="ht-dropdown dropdown-style-two">
                                    @foreach (var sub in main.SubMenus)
                                    {
                                        <li><a href="@Url.Action(sub.ActionName, sub.ControllerName, new { categoryId = sub.ParameterId })">@sub.Name</a></li>
                                    }

                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action(main.ActionName, main.ControllerName)">@main.Name<i class="fa fa-angle-down"></i></a>
                                <ul class="ht-dropdown dropdown-style-two">
                                    @foreach (var sub in main.SubMenus)
                                    {
                                        <li><a href="@Url.Action(sub.ActionName, sub.ControllerName)">@sub.Name</a></li>

                                    }
                                </ul>
                            </li>
                        }
                    }
                    else
                    {
                        if (!Request.IsAuthenticated || !(main.Name == AtesShop.Resources.Resources.ShopT1O3 && !User.IsInRole("User")))
                        {
                            <li><a href="@Url.Action(main.ActionName, main.ControllerName)">@main.Name</a></li>
                        }
                    }

                }
            </ul>
        </nav>
    </div>
</div>

