@model MenuViewModel
@using AtesShop.Resources

<div class="col-sm-12 d-lg-none">
    <div class="mobile-menu">
        <nav>
            <ul>
                @foreach (var main in Model.MainMenuList)
                {
                    if (main.SubMenus.Count != 0)
                    {
                        if (main.Name == AtesShop.Resources.Resources.ProductsT1O2)
                        {
                            <li>
                                <a href="@Url.Action(main.ActionName, main.ControllerName, new { id = string.Empty })">@main.Name</a>
                                <ul>
                                    @foreach (var sub in main.SubMenus)
                                    {
                                        <li><a href="@Url.Action(sub.ActionName, sub.ControllerName, new { categoryId = sub.ParameterId })">@sub.Name</a></li>
                                    }

                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action(main.ActionName, main.ControllerName)">@main.Name</a>
                                <ul>
                                    @foreach (var sub in main.SubMenus)
                                    {
                                        <li><a href="@Url.Action(sub.ActionName, sub.ControllerName)">@sub.Name</a></li>

                                    }
                                </ul>
                            </li>
                        }
                    }
                    else
                    {
                        if (!Request.IsAuthenticated || !(main.Name == AtesShop.Resources.Resources.ShopT1O3 && !User.IsInRole("User")))
                        {
                            <li><a href="@Url.Action(main.ActionName, main.ControllerName)">@main.Name</a></li>
                        }
                    }
                }

            </ul>
        </nav>
    </div>
</div>

